<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head><script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-c4dfe73d-307a-4275-9ceb-23295e70167f" data-elfsight-app-lazy></div>
<body>
    <div class="wrapper">
        <header class="wrapper-header">
            {% include header.html %}
        </header>

        <main class="wrapper-main">
            <div class="main-content">
            {{ content }}
            </div>
        </main>
    </div>
<h3>JavaScript comment box/h3>
<form id="myForm">
Full name: <input id="userName" type="text" name="fname">
<br><br>
Email : <input id="userEmail" type="text" name="email">
<input type="button" onclick="myFunction()" value="Submit">
</form>
<h5>Submitted data :</h5>
<p id="data"></p>
<script>
function myFunction(){
let email = document.getElementById("userEmail").value
let comment = document.getElementById("userComment").value
}
</script>
    <footer class="wrapper-footer">
        {% include comment-form.html %}
        {% include footer.html %}
    </footer>
</body>
</html>
